.crp-affiliates
	.crp-affiliates-list
		list-style: none
		margin: 0
		.crp-affiliates-item
			position: relative
			height: 150px
			margin: 5px 0
			overflow: hidden
			img
				position: absolute
				width: 100%
			.crp-container
				position: absolute
				top: 50px
				color: white
				p
					margin: 10px
					text-shadow: 2px 2px black
					&.crp-affiliate-name
						font-size: 1.5rem
					&.crp-affiliate-description
						line-height: 1rem