$reward:  #adcd7f

.rewards
	margin: 20px auto
	label
		margin-right: 10px
	ul
		list-style: none
		margin: 0
		li
			height: 70px
			border-bottom: 1px solid #8DCEFF
			padding-bottom: 10px
			.points
				float: right
				margin: 10px 10px 0 0
				font-size: 2rem
				color: #8EA172
			img 
				border-radius: 50%
				margin: 5px	
				border: 5px solid $reward

.promotional
	font-family: "Courgette", sans-serif
	font-size: 20px
	color: #07B4D3
	text-transform: none
	text-shadow: 0 1px 0 #fff
	display: block
	text-align: center



