@import normalize

// Foundation settings
$tabbar-bg: #FFF
$tabbar-color: #666
$tabbar-menu-icon-color: #ADCD7F
$tabbar-left-section-border: none

$icon-bar-bg: #FFF
$icon-bar-font-color: #666
$icon-bar-icon-color: #666

$off-canvas-bg: #ADCD7F

$primary-color: #ADCD7F
$secondary-color: #79E8CE

$body-bg: #FFFAD7
$body-font-color: #666

// Foundation
@import foundation/components/icon-bar
@import foundation/components/offcanvas
@import foundation/components/forms
@import foundation/components/grid

// Extend foundation
.tab-bar
	border-bottom: 1px solid #d6d6d6
	box-shadow: 1px 1px #c0c0c0
	font-weight: bold

// Main pages
@import partials/Fonts
@import pages/MainPage
@import pages/Login

// Components
@import components/Rewards
@import components/TopMenu
@import components/BottomMenu
@import components/AffiliateList

// Helpers
@import partials/forms